SERVICE_BUS_NAMESPACE=test.servicebus.windows.net:443
SERVICE_BUS_API_KEY=
SERVICE_BUS_API_KEY_NAME=VideoSummarizerDev

FINALIZE_CONTENT_QUEUE=test
VIDEO_SUMMARY_QUEUE=test
INDEX_FILE_QUEUE=test

AZURE_OPENAI_ENDPOINT=https://test.openai.azure.com/
AZURE_OPENAI_KEY=
AZURE_OPENAI_API_VERSION=2024-10-01-preview
AZURE_OPENAI_MODEL_NAME=gpt-4o-mini

CONTENT_UNDERSTANDING_ENDPOINT=test
CONTENT_UNDERSTANDING_API_VERSION=test
CONTENT_UNDERSTANDING_KEY=test
VIDEO_ANALYZER_NAME=test

STORAGE_ACCOUNT_NAME=test
STORAGE_CONTAINER_NAME=test-container
STORAGE_ACCOUNT_API_KEY=

MP4_OUTPUT_PATH=test

LOGGING_LEVEL=DEBUG