build==1.2.2.post1
cachecontrol==0.14.2
cleo==2.1.0
crashtest==0.4.1
cryptography==44.0.2
distlib==0.3.9
dulwich==0.22.8
findpython==0.6.2
installer==0.7.0
jaraco-classes==3.4.0
jaraco-context==6.0.1
jaraco-functools==4.1.0
jeepney==0.9.0
keyring==25.6.0
more-itertools==10.6.0
msgpack==1.1.0
pbs-installer==2025.2.12
pip==24.3.1
pkginfo==1.12.1.2
poetry==2.1.1
poetry-core==2.1.1
pyproject-hooks==1.2.0
rapidfuzz==3.12.2
requests-toolbelt==1.0.0
secretstorage==3.3.3
shellingham==1.5.4
tomlkit==0.13.2
trove-classifiers==2025.3.3.18
virtualenv==20.29.2
zstandard==0.23.0
